:root {
    --primary-color: #34418E;
    --secondary-color: #FFD41C;
}

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-image: url("../assets/images/nulagunahero.jpg");
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.389);
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFD41C;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
.academics-title-div{
    color: #34418E;
    font-size: 25px;
    text-shadow:  3px 2px 2px rgba(0, 0, 0, 0.2);
}

.date-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container p {
    color: white;
}

.office {
    background-color: #34418E;
    border-radius: 30px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-left: 50px;
    margin-right: 50px;
    width: 480px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.header-title {
    color: #34418E;
    background-color: #FFD41C;
    border-radius: 30px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.header-title h2 {
    color: #34418E;
    font-size: 35px;
    font-weight: bold;
}

.header-title p {
    color: #34418E;
    font-size: 30px;
    font-weight: bold;
}

.list-div {
    /* border-bottom: 2px white solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    padding: 20px;
}

.list-div.last-list-div {
    border-bottom: none; /* Remove border-bottom for the last list-div */
}


.list-div p, .qn-div p {
    font-size: 25px;
    text-shadow:  3px 2px 2px rgba(0, 0, 0, 0.2);
}

.course-div p {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.course-div .quenum-div {
    font-weight: bold;
}

.que-div p{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD41C;
}